## Build & Output directories
bin/
obj/
publish/
*.zip
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio / IDE
.vs/
.idea/
.vscode/

## Temp icon files
app_v*.ico

## Logs & Temp files
*.log
*.tmp
